/** vendor overrides **/
.CodeMirror {
  min-height: 200px;
  height: auto;
  margin-bottom: 10px;
}

/** custom styles **/
pre {
  background: #f4f5f6;
  border-left: 0.3rem solid #9b4dca;
  margin-bottom: 15px;
}

code {
  border: none;
  background: #f4f5f6;
}

pre > code {
  background: transparent;
  border-radius: 0;
  display: block;
  padding: .5rem 1.5rem;
  white-space: pre;
}

hr {
  width: 75%;
  border: none;
  border-bottom: dotted 1px #d1d1d1;
}

hr.separator {
  width: 50%;
}

.help-text.alert {
  color: #ec5840;
}

.connection-alert {
  display: block;
  float: left;
  margin-top: 3px;
  margin-right: 5px;
}
