/** vendor overrides **/
.sweet-alert button {
  padding-top: 0px;
  height: 2.3em;
}

.CodeMirror {
  min-height: 200px;
  height: auto;
  margin-bottom: 10px;
}

/** custom styles **/
pre {
  background: #f4f5f6;
  border-left: 0.3rem solid #9b4dca;
  margin-bottom: 15px;
}

pre > code {
  background: transparent;
  border-radius: 0;
  display: block;
  padding: .5rem 1.5rem;
  white-space: pre;
}
