.text-right {
  text-align: right;
}

.action-link {
  cursor: pointer;
}

/** vendor overrides **/
.sweet-alert button {
  padding-top: 0px;
  height: 2.3em;
}

.CodeMirror {
  min-height: 320px;
  height: auto;
  margin-bottom: 10px;
}
