<template name="auth">
  <div class="small-8 columns">
    {{#unless currentUser}}
      <ul class="menu user-menu align-right">
        <li><a class="button button-github"><i class="icon-github"></i> Login with GitHub</a></li>
      </ul>
    {{else}}
      <ul class="dropdown menu user-menu align-right">
        <li>
          <a class="user-avatar" href="{{pathFor 'user.show' username=username}}">{{> avatar userId=currentUser._id shape="rounded" size="small"}}</a>
          <ul class="submenu menu vertical" data-submenu>
            <li><a class="button-logout">Logout</a></li>
          </ul>
        </li>
        <li><a class="button" href="{{urlFor route='post.new'}}"><i class="icon-code"></i> New Post</a></li>
      </ul>
    {{/unless}}
  </div>
</template>
