<template name="postList">
  <td><a href="{{pathFor route='post.show' _id=shortCode}}">{{title}}</a></td>
  <td><em>{{relativeDate createdAt}}</em></td>
  {{#if isRemovable}}
    <td>{{> postRemove}}</td>
    <td>{{> postEditButton}}</td>
  {{/if}}
</template>

<template name="postRemove">
  <a class="small alert button remove-post">remove</a>
</template>

<template name="postEditButton">
  <a href="{{pathFor 'post.edit' _id=shortCode}}" class="small button remove-post">edit</a>
</template>

<template name="postNew">
  <section id="post-editor">
    {{> editor}}
  </section>
</template>

<template name="postEdit">
  <section id="post-editor">
    {{> editor}}
  </section>
</template>

<template name="post">
  <section class="row" id="article">
    <div class="large-8 large-offset-2 columns">
      <header class="post-header text-center">
        <h1>{{title}}</h1>
        <section class="post-metadata">
          <h6 class="subheader">{{formatDate createdAt}} | {{postTags}}</h6>
        </section>
      </header>
      <hr class="separator">
      <article>{{{contentHtml}}}</article>
    </div>
  </section>
</template>

